
<br>
<ng-container *ngIf="datos_usuario.rol === 'propietario'">
    <button routerLink="/panel/admin/registrar_usuario">
        Registrar Admin
       </button>
       <br>
       <button routerLink="/panel/admin/historial_pagos">
        Historial pagos
       </button>
       <br>
       <button routerLink="/panel/admin/suscripciones">
        Suscripciones
       </button>
       <br>
       <button routerLink="/panel/admin/reportes">
        reportes
       </button>
</ng-container>
<ng-container *ngIf="datos_usuario.rol === 'administrador'">
    <button routerLink="/panel/cliente/gestionar_suscripcion">
        Gestionar Suscripcion
       </button>
       <br>
       <button routerLink="/panel/cliente/historial">
        Historial 
       </button>
       <br>
       <button routerLink="/panel/cliente/datos_restaurante">
        Datos del restaurante
       </button>
       <br>
       <button routerLink="/panel/cliente/resumen_cuenta">
        Resumen de la cuenta
       </button>
</ng-container>

<br>
<button (click)="Cerrar_sesion()">
 cerrar Sesion
</button>
