<div class="text-center mt-14">
    <h2 class="text-2xl font-bold text-gray-900">Registrarse</h2>
    <span class="text-gray-400">Complete el formulario a continuación para crear una cuenta para su Restaurante</span>
</div>
<div class="flex justify-center mb-6">
    <div *ngFor="let step of steps; let i = index" class="flex items-center">
        <div [ngClass]="{'bg-blue-500 text-white': currentStep >= i + 1,'bg-gray-200 text-gray-500': currentStep < i + 1}" class="rounded-full w-8 h-8 flex items-center justify-center">
            {{ i + 1 }}
        </div>
        <span *ngIf="i < steps.length - 1" [ngClass]="{'border-blue-500': currentStep > i + 1, 'border-gray-200': currentStep <= i + 1}" class="w-10 border-t-2"></span>
    </div>
</div>
<!-- Paso 1 -->
<form *ngIf="currentStep === 1" #info_resfrom="ngForm" (ngSubmit)="info_res(info_resfrom)" action="#" class="space-y-4 md:space-y-4 bg-white rounded-lg px-36">
    <h1 class="text-2xl font-bold text-center text-gray-900">
        Información del Restaurante
    </h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
        <div>
            <label for="nombre_res"
                class="block mb-1 text-sm font-semibold text-gray-700">Nombre Restaurante</label>
            <input type="text" name="nombre_res"[(ngModel)]="restaurant.nombre_res" id="nombre_res"class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-3"placeholder="Nombre del Restaurante" required />
        </div>
        <div>
            <label for="direccion"  class="block mb-1 text-sm font-semibold text-gray-700">Dirección</label>
            <input type="text" name="direccion"[(ngModel)]="restaurant.direccion" id="direccion"class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-3"placeholder="Dirección" required />
        </div>
        <div>
            <label for="ciudad"
                class="block mb-1 text-sm font-semibold text-gray-700">Ciudad</label>
            <input type="text" name="ciudad" [(ngModel)]="restaurant.ciudad" id="ciudad"class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-3"placeholder="Ciudad" required />
        </div>
        <div>
            <label for="cp" class="block mb-1 text-sm font-semibold text-gray-700">Código Postal</label>
            <input type="text" name="cp" [(ngModel)]="restaurant.cp" id="cp" class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-3"placeholder="Código Postal" required />
        </div>
        <div>
            <label for="pais"
                class="block mb-1 text-sm font-semibold text-gray-700">País</label>
            <input type="text" name="pais" [(ngModel)]="restaurant.pais" id="pais" class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-3"placeholder="País" required />
        </div>
        <div>
            <label for="telefono" class="block mb-1 text-sm font-semibold text-gray-700">Teléfono del Restaurante</label>
            <input type="text" name="telefono" [(ngModel)]="restaurant.telefono" id="telefono" class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-3"placeholder="Teléfono" required />
        </div>
        <div>
            <label for="categoria" class="block mb-1 text-sm font-semibold text-gray-700">Tipo de Cocina</label>
            <select name="categoria" [(ngModel)]="restaurant.categoria"
                class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-3">
                <option value selected disabled>Seleccionar</option>
                <option value="Bar">Bar</option>
                <option value="Antojitos Mexicanos">Antojitos Mexicanos</option>
                <option value="Pizzeria">Pizzería</option>
            </select>
        </div>
        <div>
            <label for="descripcion" class="block mb-1 text-sm font-semibold text-gray-700">Descripción del Restaurante</label>
            <input type="text" name="descripcion"[(ngModel)]="restaurant.descripcion" id="descripcion"class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-3"placeholder="Descripción" required />
        </div>
        <div>
            <label for="hora_apertura"  class="block mb-1 text-sm font-semibold text-gray-700">Hora de Apertura</label>
            <input type="time" name="hora_apertura" [(ngModel)]="restaurant.hora_apertura" id="hora_apertura" class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-3" required />
        </div>
        <div>
            <label for="hora_cierre"  class="block mb-1 text-sm font-semibold text-gray-700">Hora de Cierre</label>
            <input type="time" name="hora_cierre"[(ngModel)]="restaurant.hora_cierre" id="hora_cierre"class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-3"required />
        </div>
        <div>
            <label for="d_operacion" class="block mb-1 text-sm font-semibold text-gray-700">Días de Operación</label>
            <div class="grid grid-cols-2 gap-2">
                <label><input type="checkbox"
                        [(ngModel)]="restaurant.d_operacion.lunes"name="d_operacion"
                        class="mr-2" />Lunes</label>
                <label><input type="checkbox"[(ngModel)]="restaurant.d_operacion.martes"name="d_operacion"
                        class="mr-2" />
                    Martes</label>
                <label><input type="checkbox"
                        [(ngModel)]="restaurant.d_operacion.miercoles"
                        name="d_operacion"
                        class="mr-2" />
                    Miércoles</label>
                <label><input type="checkbox"
                        [(ngModel)]="restaurant.d_operacion.jueves"
                        name="d_operacion"
                        class="mr-2" />
                    Jueves</label>
                <label><input type="checkbox"
                        [(ngModel)]="restaurant.d_operacion.viernes"
                        name="d_operacion"
                        class="mr-2" />
                    Viernes</label>
                <label><input type="checkbox"
                        [(ngModel)]="restaurant.d_operacion.sabado"
                        name="d_operacion"
                        class="mr-2" />
                    Sábado</label>
                <label><input type="checkbox"
                        [(ngModel)]="restaurant.d_operacion.domingo"
                        name="d_operacion"
                        class="mr-2" />
                    Domingo</label>
            </div>
        </div>
        <div>
            <label for="z_cobertura"
                class="block mb-1 text-sm font-semibold text-gray-700">Zona de Cobertura (km)</label>
            <input type="number" name="z_cobertura" [(ngModel)]="restaurant.z_cobertura" id="z_cobertura"
                class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-3"
                placeholder="Ingrese km de cobertura" required />
        </div>
        <div class="mb-4">
            <label for="logo"
                class="block mb-1 text-sm font-semibold text-gray-700 w-full">Logo</label>
            <div class="input-group w-full">
                <input type="file" id="perfil-input"
                    (change)="eventoCambioDeImagen($event, 'perfil')"
                    class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 w-full p-3" />
            </div>
            <img [src]="imgSeleccionadaPerfil" class="img-thumbnail rounded-lg mt-2" alt="..." style="width: 250px; height: 250px; object-fit: cover;">
        </div>
        <div class="mb-4">
            <label for="m_d_pago"
                class="block mb-1 text-sm font-semibold text-gray-700 w-full">Métodos de Pago</label>
            <input type="text" name="m_d_pago" [(ngModel)]="restaurant.m_d_pago"
                id="m_d_pago"
                class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 w-full p-3"
                placeholder="Métodos de pago" required />
        </div>
    </div>
    <div class="flex justify-end">
        <button type="button" (click)="nextStep()"
            class="px-5 py-3 text-white bg-blue-700 hover:bg-blue-500 rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-200">
            Siguiente
        </button>
    </div>
</form>

<!-- Paso 3 -->
<form *ngIf="currentStep === 2"
    class="space-y-5 md:space-y-4 bg-white rounded-lg px-36 pt-10"
    #info_propform="ngForm"
    (ngSubmit)="info_prop(info_propform)" action="#">
    <h1 class="text-2xl font-bold text-center text-gray-900 mb-16">
        Información del Propietario
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
        <div>
            <label for="nombre_propietario" class="block mb-1 text-sm font-semibold text-gray-700">Nombre propietario o Administrador</label>
            <input type="text" name="nombre_propietario" [(ngModel)]="restaurant.nombre_propietario" id="nombre_propietario"
                class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-3"
                placeholder="Nombre del Propietario" required />
        </div>
        <div>
            <label for="apellido"  class="block mb-1 text-sm font-semibold text-gray-700">Apellidos del propietario o Administrador</label>
            <input type="text" name="apellido" [(ngModel)]="restaurant.apellido"
                id="apellido"
                class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-3"  placeholder="Apellidos" required />
        </div>
        <div>
            <label for="direccion_p" class="block mb-1 text-sm font-semibold text-gray-700">Dirección del propietario o Administrador</label>
            <input type="text" name="direccion_p" [(ngModel)]="restaurant.direccion_p" id="direccion_p"
                class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-3"
                placeholder="Dirección" required />
        </div>
        <div>
            <label for="email"  class="block mb-1 text-sm font-semibold text-gray-700">Correo Electrónico de contacto</label>
            <input type="email" name="email" [(ngModel)]="restaurant.email"
                id="email"
                class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-3"
                placeholder="Correo Electrónico" required />
        </div>
        <div>
            <label for="password"
                class="block mb-1 text-sm font-semibold text-gray-700">Tu
                contraseña</label>
            <input type="password" name="password" [(ngModel)]="restaurant.password" id="password"placeholder="••••••••"
                class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-3"
                required />
        </div>
    </div>
    <div class="flex justify-end space-x-4">
        <button type="button"
            class="px-5 py-3 text-white bg-gray-400 hover:bg-gray-500 rounded-lg focus:ring-4 focus:outline-none focus:ring-gray-300"
            (click)="previousStep()">
            Anterior
        </button>
        <button type="button"
            class="px-5 py-3 text-white  bg-blue-700 hover:bg-blue-500 rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-200"
            (click)="nextStep()">
            Siguiente
        </button>
    </div>
</form>
<!-- Paso 3 -->
<form *ngIf="currentStep === 3"
    class="space-y-4 md:space-y-4 bg-white rounded-lg px-36" #docform="ngForm"
    (ngSubmit)="doc(docform)" action="#">
    <h1 class="text-2xl font-bold text-center text-gray-900">Documentación</h1>
    <div>
        <label for="documento"
            class="block mb-1 text-sm font-semibold text-gray-700">Licencia de Funcionamiento, Certificado de Higiene (PDF)</label>
        <input type="file" name="documento" id="documento" accept=".pdf"
            (change)="eventoCambioDeDocumento($event)"
            class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-3"
            required />
    </div>
    <div class="flex justify-end space-x-4">
        <button type="button"
            class="px-5 py-3 text-white bg-gray-400 hover:bg-gray-500 rounded-lg focus:ring-4 focus:outline-none focus:ring-gray-300"
            (click)="previousStep()">
            Anterior
        </button>
        <button type="button"
            class="px-5 py-3 text-white bg-blue-700 hover:bg-blue-500 rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-200"
            (click)="nextStep()">
            Siguiente
        </button>
    </div>
</form>

<!-- Paso 4 -->
<form *ngIf="currentStep === 4"
    class="space-y-4 md:space-y-4 bg-white rounded-lg px-36"
    #info_bancoform="ngForm"
    (ngSubmit)="info_banco(info_bancoform)" action="#">
    <h1 class="text-2xl font-bold text-center text-gray-900">
        Información Bancaria
    </h1>
    <!-- Nombre del banco -->
    <div>
        <label for="nombre_banco"
            class="block mb-1 text-sm font-semibold text-gray-700">Nombre del banco</label>
        <input type="text" name="nombre_banco"
            [(ngModel)]="restaurant.nombre_banco" id="nombre_banco"
            class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-3"
            placeholder="Ingrese el nombre del banco" required />
    </div>
    <!-- Número de cuenta -->
    <div>
        <label for="numero_cuenta"
            class="block mb-1 text-sm font-semibold text-gray-700">Número de cuenta</label>
        <input type="number" name="numero_cuenta"
            [(ngModel)]="restaurant.numero_cuenta" id="numero_cuenta"
            class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-3"
            placeholder="Número de cuenta" required />
    </div>
    <!-- Clave Interbancaria -->
    <div>
        <label for="clave_interbancaria"
            class="block mb-1 text-sm font-semibold text-gray-700">Clave Interbancaria</label>
        <input type="number" name="clave_interbancaria"
            [(ngModel)]="restaurant.clave_interbancaria"
            id="clave_interbancaria"
            class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-3"
            placeholder="Clave Interbancaria" required />
    </div>
    <!-- RFC -->
    <div>
        <label for="rfc"
            class="block mb-1 text-sm font-semibold text-gray-700">RFC</label>
        <input type="text" name="rfc" [(ngModel)]="restaurant.rfc" id="rfc"
            class="bg-white border border-gray-300 text-gray-900 rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-3"
            placeholder="RFC" required />
    </div>
    <div class="flex justify-end space-x-4">
        <button type="button"
            class="px-5 py-3 text-white bg-gray-400 hover:bg-gray-500 rounded-lg focus:ring-4 focus:outline-none focus:ring-gray-300"
            (click)="previousStep()">
            Anterior
        </button>
        <button type="button"
            class="px-5 py-3 text-white bg-blue-700 hover:bg-blue-500 rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-200">
            Registrar
        </button>
    </div>
</form>